/* Stylesheet for E-Voting Website
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */

/* Contents
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------*/
/*
1. Reset default margins, padding and borders
2. Styling for the overall body of website
3. Styling for the header portion of website
4. Styling for the Navigation Bar of website
5. Place the main and right hand side content next to each other
6. Styling for main content of the website
7. Styling for any right hand side content of the website
8. Styling for the footer of website
*/

/* 1. Reset default margins, padding and borders
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 2. Styling for the overall body of website
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  body {
    background-color: #F3F2F1;
    font-family: Arial, sans-serif;  /* Set standard font for entire website */
    font-size: calc(15px + 0.390625vw);
  }



  /* 3. Styling for the header portion of website
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .header {
    display: flex;
    padding: 3%;
    background: #1D70B8;
    text-align: center;
    margin-bottom: 5%;
  }

  .header h1 {
    color: white;
    font-size: 5vw;
    font-weight:lighter;
    width: 100%;
    float: left;
    margin-top: 1%;
  }
  .header img {
    width: 8%;
    height: 8%;
    float: left;
  }

  /* 3. Middle Section of the website
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .middle {
    margin: auto;
    padding: 2%;
    border-width: 5%;
    border-radius: 25px;
    width: 80%;
    text-align: center
  }

  .middle h1 {
    color: black;
    font-size: calc(30px + 0.390625vw);
    
  }
  .middle p {
    padding: 4%;
  }

  .middle #candidates {
    padding: 2.5%;
    text-align: left;
    margin-left: 1%;
    font-size: 1.25vw
  }

  .middle img {
    width: 4vw;
    height: 4vw;
    padding: 1%
  }

  .middle select {
    padding: 1%
  }

     /* 2. Button syling
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .button {
    margin: auto;
    margin-top: 2%;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    padding: 0.5vw 2vw 0.5vw 2vw;
    text-decoration: none;
    text-align: center;
  }
  .button a {
    background: #000000;
    text-decoration: none;
  }
  .button a:hover {
    background: #1d70b8;
    text-decoration: none;
  }

     /* 2. HTML Input Styling
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */

  input[type=submit] {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    padding: 0.5vw 2vw 0.5vw 2vw;
    text-decoration: none;
    text-align: center;
    background: #000000;
    text-decoration: none;
    font-size: calc(15px + 0.390625vw);
    display: block;
  }

  input[type=submit]:hover {
    background: #1d70b8;
    text-decoration: none;
  }

  input[type=text] {
    font-size: calc(15px + 0.390625vw);
  }

  /*input[type=radio] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: calc(40px + 0.390625vw);
    height: calc(40px + 0.390625vw);
  }

  /* using https://www.sliderrevolution.com/resources/styling-radio-buttons/ */
  .custom-radios div {
    display: inline-block;
    text-align: left;
    width: calc(500px + 0.390625vw);
    margin: auto;
    padding: 0.5%;
  }

  .custom-radios input[type="radio"] {
    display: none;
  }
  .custom-radios input[type="radio"] + label {
    color: black;
    font-family: Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
  }
  .custom-radios input[type="radio"] + label span {
    display: inline-block;
    box-sizing: border-box;
    appearance: none;
    width: calc(40px + 0.390625vw);
    height: calc(40px + 0.390625vw);
    vertical-align: middle;
    cursor:  url('pencil_cursor.ico'), auto;
    outline: 2px solid black;
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1.5%;
  }
  .custom-radios img {
    opacity: 0;
    transition: all 0.3s ease;
    width: calc(40px + 0.390625vw);
    height: calc(40px + 0.390625vw);
  }
  .custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .custom-radios input[type="radio"]:checked + label span img {
    opacity: 1;
  }
  
  /* 8. Styling for the footer of website
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-container {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 2rem;    /* Footer height */
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;            /* Footer height */
    background-color: #1D70B8;
    text-align: center;
  }
  
  .footer p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    font-size: 0.7rem;
  }

  /* 9. FAQ Styling
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  div#faqs p{
    display:none;
  }

  div#faqs p.faq1:target {
    display:block;
  }
  div#faqs p.faq2:target {
    display:block;
  }
  div#faqs p.faq3:target {
    display:block;
  }
  div#faqs p.faq4:target {
    display:block;
  }
  div#faqs h3 {
    padding: 1%;
    font-weight: bold;
  }
  div#faqs a:visited {
    color: black;
  }
  div#faqs a:hover {
    color: #1d70b8;
  }