{% extends '1_index.html' %}

{% block content %}
<div class="middle">
    <h1>Verify Identification</h1>
    <p style = "color: red; font-weight: bold">{{ errormessage }}</p>
    <p>{{ candidate }}</p>

    <p>Thank you for taking part in this survey, copy the word below and end it into the survey question. "What word were you asked to input?"</p>
    <p style = "color: rgb(14, 86, 137); font-weight: bold; font-size: large;">CANDIDATE</p>
    <br>
    <p>You may now close the window.</p>
</div>
{% endblock %}