{% extends '0_index.html' %}

{% block content %}
<div class="middle">
    <h1>Check if you can vote</h1>
    <p>Please provide your name and poll number as it appears on your poll card.
        <br>
    </p>
    <form action="{{ url_for("verifyeligibility")}}" method="post">
        <label for="tester">For the purposes of this demonstration, please select from the below test credentials:</label>
        <br>
        <br>
        <select id="tester" name="tester">
        <!-- Goes through each test name in the database to display in a list -->
        {% for voter in test_voters %}
        <option value='{{voter.pollstation}}{{voter.pollnumber}}'>{{voter[1]}}{{voter[2]}} - {{voter[3]}}</option>
        {% endfor %}
    </form>
</div>
    <div class="button">
        <input type="submit" value="Continue">
    </div>
</div>
{% endblock %}