{% extends '0_index.html' %}

{% block content %}
<div class="middle">
    <h1>Identification Check</h1>
    <p>You will now be asked to take a photo of your Driving Licence or Provisional Licence.
    <br>
    Once completed, your webcam will turn on and your face will be compared to your license, alongside your name and address.
    Please ensure your face is facing the webcam ready to be checked upon submission of the photo of your id.
    <br>
    </p>
</div>
<div class="middle-button">
    <div class="button">
        <a href="/idphoto/{{ pollnumber }}" class="button">Check Identity</a>
    </div>
</div>
{% endblock %}