{% extends '1_index.html' %}

{% block content %}
<div class="middle">
    <h1>Secret Word</h1>
    <form action="{{ url_for('enterwordcheck', pollnumber=pollnumber) }}", method="post">
    <p>Your secret word will be used to verify your vote. Remember: you can use a word or phrase up to 15 letters.
        However, you can't use any names of other voters or addresses. You also can't use a word that has already been used by another
        voter at your polling station. Try to choose something easy to remember.
        <br>
        <br>
        <b>Please be aware, if you forget your secret word you will not be able to verify your vote.</p>   
    <p style = "color: red; font-weight: bold; padding: 2%">{{ errormessage }}</p>
        <label for="sword">Enter your secret word:</label><br>
        <br>
        <input type="text" id="sword" name="sword" style="text-transform:uppercase" maxlength="15"><br>
    </div>
        <div class="button">
            <input type="submit" value="Click here to submit word">
        </div>
    </form>
    

{% endblock %}