{% extends '1_index.html' %}

{% block content %}
<div class="middle">
    <h1>Vote</h1>
    <p style = "padding: 1%">Please choose ONE of the candidates below to vote for.</p>
    <form action="{{ url_for('submitvote', pollnumber=pollnumber, secretword = secretword) }}", method="post">
    <p style = "padding: 1%">Choose your candidate:</p><br>
    <div class="custom-radios">
        {% for candidates in candidates %}
        <div>
        <input type="radio" id="{{candidates.candidatename}}" name="candidates" value="{{candidates.candidatename}}">
        <label for="{{candidates.candidatename}}">
          <span>
            <img src="{{url_for('static',filename='images/cross.svg')}}"  alt="Checked Icon" />
          </span>
          </label>
          {{candidates[1]}} - {{candidates[2]}}
        </div>
        <div>
        </div>
        <br>
        {% endfor %}
    </div>
    <br>
    <div class="middle-button">
        <div class="button">
            <input type="submit" onclick="return confirm('Check your selection. Do you still wish to continue?')" value="Click here to submit vote">
        </div>
        
    </div>
    </form>
    

{% endblock %}