{% extends '0_index.html' %}

{% block content %}
<div class="middle">
    <h1>Verify your vote</h1>
    <!-- Receipt input for secret word for vote verification-->
    <form action="{{ url_for('fetchvote', pollstation=pollstation, secretword = secretword) }}", method="post">
    <p>You are able to view your vote by entering your secret word for five minutes after submitting. </p>
    <p style = "color: red; font-weight: bold; padding: 2%">{{ errormessage }}</p>
        <label for="sword">Enter your secret word:</label><br>
        <br>
        <input type="text" id="sword" name="sword" style="text-transform:uppercase" maxlength="15"><br>

        <label for="sword">Enter your poll station: *</label><br>
        <br>
        <input type="text" id="pollstation" name="pollstation" style="text-transform:uppercase" maxlength="15" value="ABC"><br>

        <p>* all test credentials have polling station "ABC"</p>
    </div>
    <div class="middle-button">
        <div class="button">
            <input type="submit" value="Click here to verify vote">
        </div>
    </div>
    </form>
{% endblock %}