{% extends '1_index.html' %}

{% block content %}
<div class="middle">
    <h1>Candidate Information</h1>
    <p>The following candidates can be voted for in this online vote:</p>

    <img src="static\images\placeholder.png" alt="Party 1" style="float: left;">
    <p id="candidates">Test Name 1 from Party 1</p>

    <img src="static\images\placeholder.png" alt="Party 2" style="float: left;">
    <p id="candidates">Test Name 2 from Party 2</p>

    <img src="static\images\placeholder.png" alt="Party 3" style="float: left;">
    <p id="candidates">Test Name 3 from Party 3</p>

</div>
<div class="middle-button">
    <div class="button">
        <a href="/vote" class="button">Continue</a>
    </div>
</div>
{% endblock %}